* {	
	margin: 0;
	padding: 0;
}
a:link, a:visited {
	color: #f30;
	padding: 3px;
	text-decoration: none;
}
a:hover {
	background: #000;
	color: #fff;
}
h1, h2 {
	text-transform: uppercase;
}
#bigbox {
	font-family: "helvetica neue", sans-serif;
	margin: 0 auto;
	padding-top: 25px;
	text-align: left;
	width: 800px;	
}
#branding {
	background: url(/images/logo-banner.gif) no-repeat right bottom;
	height: 75px;
	text-align: right;
}
#branding h1 {
	display: none;
	text-indent: -9999px;
/*	text-transform: uppercase;*/
/*	width: 600px;*/
	margin-bottom: 0;
}
#branding h1 span {
	font-weight: normal;
}
#nav {
	background: #121212;
	float: left;
	clear: both;
	height: 22px;
	margin-bottom: 20px;
	width: 800px;

}
#nav ul {
	background: #121212;
	float: left;
	margin: 0 0 0 5px;
}
#nav li {
	color: #fff;
	float: left;
	list-style-type: none;
}
#nav li a:link, #nav li a:visited {
	color: #fff;
	font-family: "helvetica neue", sans-serif;
	font-size: 11px;
	height: 22px;
	padding: 5px 7px;
	text-decoration: none;
	text-transform: uppercase;
}
#nav li a:hover {
	background: #b90000;
}

/* You Are Here Styles */
#home li.home a:link, #home li.home a:visited {
	background: #fff;
	color: #000;
}
#home li.home a:hover {
	color: #f30;
}
#team li.team a:link, #team li.team a:visited {
	background: #fff;
	color: #000;
}
#team li.team a:hover {
	color: #f30;
}
#order li.order a:link, #order li.order a:visited {
	background: #fff;
	color: #000;
}
#order li.order a:hover {
	color: #f30;
}
#blog li.blog a:link, #blog li.blog a:visited {
	background: #fff;
	color: #000;
}
#blog li.blog a:hover {
	color: #f30;
}
/* End You Are Here Styles */


#home #alpha, #home #bravo, #team #alpha, #team #bravo {
	padding-top: 10px;
	width: 400px;
}
#blog #alpha {
	position: relative;
	width: 500px;
}
#blog #bravo {
	float: right;
	width: 200px;
}
#blog #bravo h2 {
	color: #121212;
}
#blog #bravo li {
	list-style-type: none;
}

#home #alpha, #team #alpha, #blog #alpha {
	float: left;
}
#home #bravo, #team #bravo {
	float: right;
}
#home #bravo img {
	margin: 10px 10px;
}
#team #alpha, #team #bravo {
	padding-bottom: 30px;
}
#team #charlie {
	background: #efefef;
	clear: both;
	margin: 20px 0;
	padding: 30px;
/*	width: 360px;*/
}
#order #alpha, #order #bravo, #order #charlie, #order #delta {
	float: left;
	padding-top: 10px;
	width: 200px;
}
#order #bravo {
	float: left;
	padding-top: 10px;
	width: 400px;
}
a.getsome:link, a.getsome:visited {
	background: url(/images/getsome-wide.gif) no-repeat top left;
	display: block;
	height: 63px;
	text-indent: -6666px;
	width: 174px;
}
a.getsome:hover {
	background: url(/images/getsome-wide.gif) no-repeat top right;
}

#home h2, #home h3, #team h2, #team h3, #order h2, #order h3 {
	margin-left: 10px;
}
p {
	font-size: 12px;
	line-height: 1.5;
	margin: 0 10px 5px 10px;
	text-align: left;	
}

#footer {
	clear: both;
	height: 150px;
	margin: 20px 0 0 0;
	padding-top: 1px;
	text-align: left;
}
#footer h3 {
	font-size: 14px;
	margin: 10px 10px 0;
}
#footer img {
	float: right;
	margin: 10px;
}
#footer a:link, #footer a:visited {
	color: #000;
	padding: 0;
}
#footer a:hover {
	background: none;
	color: #f30;
}
.right {
	float: right;
	margin: 15px 0 25px 10px;
}
#blog #alpha div.date {
	position: absolute;
	left: -90px;
	text-align: right;
}
#blog .post {
	margin: 15px 0 30px;
	position: relative;
}
#blog fieldset {
	border: 0;
	margin: 30px 0;
}
#blog #bravo ul {
	list-style-type: none;
	margin: 0px 0 15px;
}
.post .info {
	font-size: 12px;
}
.post p {
	margin-left: 0;
}
.post h2 {
	margin-left: 0;
}
#blog #alpha a:link, #blog #alpha a:visited {
	color: #000;
	padding: 0;
	text-transform: none;
}
#blog #alpha p a:link, #blog #alpha p a:visited {
	border-bottom: 1px solid #fff;
	color: #f30;
}
#blog #alpha a:hover {
	background: transparent;
	color: #f30;
}
#blog #alpha p a:hover {
	border-bottom: 1px solid #f30;
	color: #f30;
}
#blog #bravo p {
	margin-left: 0;
}